*.pyc
*.bak
.waf*
.lock-*
coyaml-*.tar.bz2
/build
/.#config.h
/.libs/libcoyaml.a
/.libs/libcoyaml.la
/.libs/libcoyaml.lai
/.libs/libcoyaml.so
/.libs/libcoyaml.so.0
/.libs/libcoyaml.so.0.0.0
/Makefile
/Makefile.am~
/Makefile.in
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/output.3
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/autom4te.cache/traces.3
/config.h
/config.h.in~
/config.log
/config.status
/configure.ac~
/libcoyaml.la
/src/.deps/.dirstamp
/src/.deps/commandline.Plo
/src/.deps/copy.Plo
/src/.deps/emitter.Plo
/src/.deps/eval.Plo
/src/.deps/helpers.Plo
/src/.deps/parser.Plo
/src/.deps/types.Plo
/src/.deps/vars.Plo
/src/.dirstamp
/src/.libs/commandline.o
/src/.libs/copy.o
/src/.libs/emitter.o
/src/.libs/eval.o
/src/.libs/helpers.o
/src/.libs/parser.o
/src/.libs/types.o
/src/.libs/vars.o
/src/commandline.lo
/src/commandline.o
/src/copy.lo
/src/copy.o
/src/emitter.lo
/src/emitter.o
/src/eval.lo
/src/eval.o
/src/helpers.lo
/src/helpers.o
/src/parser.lo
/src/parser.o
/src/types.lo
/src/types.o
/src/vars.lo
/src/vars.o
/stamp-h1
/configure
/libtool
